################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bulkexports/BulkExportDownloadTool/.vs
/Bulkexports/BulkExportDownloadTool/bin
/Bulkexports/BulkExportDownloadTool/obj
/Bulkexports/BulkExportDownloadTool/packages
